<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>课程时间</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding class="left-list">
  <ion-list>
    <ion-item>教学周</ion-item>
    <button ion-item [ngClass]="{'item-active': teaching_week == activeTeaching_week}" *ngFor="let teaching_week of teaching_weeks" (click)="selectTeaching_week(teaching_week)">{{teaching_week + 1}}周</button>
  </ion-list>
</ion-content>
<ion-content no-padding class="right-list">
  <ion-list>
    <ion-item>上课日期(点击获取信息)</ion-item>
    <!--<button ion-item (click)="selectSubCategory(activeCategory)" [ngClass]="{'item-active': activeCategory == activeSubCategory}">课程信息</button>-->
    <ng-container *ngFor="let course_t of courses_t">
      <button ion-item [ngClass]="{'item-active': week == activeWeek}" *ngIf="(course_t.teaching_week == activeTeaching_week + 1)&&(course_t.course_name == course.course_name)" (click)="selectWeek(week,course_t)">
        星期{{course_t.week}}
      </button>
    </ng-container>
  </ion-list>
</ion-content>
