<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>签到签退</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list no-lines="" class="course">
    <ion-list-header text-center="" style="...">所修课程</ion-list-header>
    <!--<button ion-button text-center block color="dark" *ngFor="let course of courses">-->
      <!--(click)="courseSelected($event, course)">-->
      <!--{{course.course_name}}-->
    <!--</button>-->

    <ion-item-sliding *ngFor="let course of courses">
      <ion-item text-center block color="thirdary">
        <h2>{{course.course_name}}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="gotosignin(course)">
          <ion-icon name="text"></ion-icon>
          签到
        </button>
        <button ion-button color="secondary" (click)="gotosignout(course)">
          <ion-icon name="call"></ion-icon>
          签退
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  <p text-center="">{{sort}}</p>

</ion-content>
<copyright [bottom]="'50px'"></copyright>
