<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>找回密码</ion-title>
  </ion-navbar>

  <ion-toolbar>
    输入邮箱 > > 重置密码
  </ion-toolbar>

</ion-header>


<ion-content no-padding>

  <div margin-top="15px" text-center >
    <img class="logo" src="assets/images/logo_one_one .png">
  </div>
  <ion-grid>
    <ion-row>

      <ion-col>
        <img src="assets/images/one.png" alt="" *ngIf="forgotPasswrdSlides.getActiveIndex()!=0">
        <img src="assets/images/one_one.png" alt="" *ngIf="forgotPasswrdSlides.getActiveIndex()==0">
      </ion-col>

      <ion-col align-self-center>
        <hr class="line">
      </ion-col>

      <ion-col>
        <img src="assets/images/four.png" alt="" *ngIf="forgotPasswrdSlides.getActiveIndex()!=1">
        <img src="assets/images/four_four.png" alt="" *ngIf="forgotPasswrdSlides.getActiveIndex()==1">
      </ion-col>

    </ion-row>

  </ion-grid>


  <div >

    <ion-slides #forgotPasswrdSlides>

      <ion-slide>

        <form>

          <ion-list>
            <ion-list>
            </ion-list>

              <ion-row>
                <ion-item>
                  <ion-input type="text" name="email" placeholder="邮箱地址" required  pattern="^\\d{5,11}$" [(ngModel)]="forgotPassword.email" #email="ngModel" ></ion-input>
                  <h2 item-end>@qq.com</h2>
                </ion-item>
              </ion-row>

            <ion-item *ngIf="email.invalid && email.touched">
              <p [hidden]="!email.errors?.required">请输入邮箱地址</p>
              <p [hidden]="!email.errors?.pattern">您输入的邮箱地址格式不正确</p>
            </ion-item>

          </ion-list>

          <div padding>
            <button ion-button block color="primary" (click)="gotologin()" *ngIf="s != 1">返回主页</button>
            <button ion-button block color="primary" (click)="toValidate()">下一步</button>
          </div>

        </form>

      </ion-slide>

       <ion-slide>

         <form>

           <div padding>

             <h1>新密码已发送至邮箱！</h1>

             <ion-row>

               <ion-col>
                 <button type="submit" ion-button block color="primary" (click)="toSuccess()">登录</button>
               </ion-col>

             </ion-row>

           </div>

         </form>

       </ion-slide>

     </ion-slides>

   </div>

 </ion-content>
 <copyright [bottom]="'50px'" ></copyright>
