<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>课程设置</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab top right edge>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)="judge11();find()"><ion-icon>查看</ion-icon></button>
      <button ion-fab (click)="judge22();find2()"><ion-icon>修改</ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <!--<ion-grid no-lines="">-->
  <div *ngIf="due">
    <ion-grid>
      <ion-row class="row1">
        <ion-col>课程名</ion-col>
        <ion-col >旷课警戒线</ion-col>
        <ion-col  >节数</ion-col>
        <ion-col >地点</ion-col>
        <ion-col >学时</ion-col>
        <ion-col>班级</ion-col>
      </ion-row>

      <ion-row>
        <ion-col >{{coursename}}</ion-col>
        <ion-col>{{picketLine}}</ion-col>
        <ion-col>{{classSession}}</ion-col>
        <ion-col>{{classLocation}}</ion-col>
        <ion-col>{{classDate}}</ion-col>
        <ion-col>{{shape}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="due2" class="show2">
    <ion-grid>
      <ion-list>
        <ion-item>
          <ion-label fixed>课程名</ion-label>
          <ion-input [(ngModel)]="coursename" disabled=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>旷课警戒线</ion-label>
          <ion-input [(ngModel)]="picketLine"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>节数</ion-label>
          <ion-input [(ngModel)]="classSession" disabled=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>地点</ion-label>
          <ion-input [(ngModel)]="classLocation" disabled=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>学时</ion-label>
          <ion-input [(ngModel)]="classOrder"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>班级</ion-label>
          <ion-input [(ngModel)]="shape" disabled=""></ion-input>
        </ion-item>

      </ion-list>
      <button ion-button (click)="post()">完成</button>
    </ion-grid>
  </div>
</ion-content>
